@media only screen and (max-width: 1200px) {
  main header nav .logo {
    width: 19%;
    text-align: left;
  }
  main header {
    height: 63px;
  }
  main header nav .Nav_items li {
    font-size: 15px;
    padding: 1.1rem 0;
  }
  main header nav .let_Wrp a {
    padding: 10px 19px;
    font-size: 15px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn h3 {
    font-size: 35px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn {
    padding: 2rem 2rem 1rem;
  }
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 992px) {
  // ----menu-----
  .let_Wrp {
    display: none;
  }
  .main-bar {
    right: 40px;
    top: 18px;
    display: block !important;
    cursor: pointer;
    position: absolute;
    div {
      width: 35px;
      height: 4px;
      margin: 6px 0;
      background-image: linear-gradient(45deg, #292929, #292929);
      transition: all 0.4s ease-in;
    }
  }
  .main-bar.activefile {
    top: 27px !important;
  }
  .activefile .a {
    transform: rotateZ(43deg);
    transition: all 0.5s ease-in;
  }
  .activefile .b {
    opacity: 0;
  }
  .activefile .c {
    -webkit-transform: rotateZ(-46deg);
    transform: rotateZ(-46deg);
    top: 0px;
    position: absolute;
    transition: all 0.4s ease-in;
    margin: 6px 0 0 0px;
  }

  // --menu--end-here--//

  .Nav_Wrapper {
    display: none;
    position: absolute;
    top: 62px;
    background: #fff;
    width: 100%;
    left: 0;
    border-bottom: 3px solid #292929;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    ul {
      li {
        display: block;
      }
    }
    .Nav_items {
      display: block;
      li {
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 0.9rem 0;
      }
    }
  }
  main .Banner_Wrapper {
    padding: 6rem 0 2rem;
  }
  main .Banner_Wrapper .Banner_content .banner_img figure {
    height: auto;
  }
  main .Banner_Wrapper .Banner_content .banner_img figure img {
    max-width: 70%;
  }

  main .Experience-Wrapper .Experience-content .about-text {
    padding: 2rem 0 2rem;
  }
  main .Experience-Wrapper .Experience-content .about-text p {
    font-size: 1em;
  }
  main .Experience-Wrapper .Experience-content .experience_heading figure img {
    max-width: 60%;
  }
  main
    .Experience-Wrapper
    .Experience-content
    .experience_heading
    figcaption
    h3 {
    font-size: 18px;
  }
  main
    .Experience-Wrapper
    .Experience-content
    .experience_heading
    figcaption
    span {
    font-size: 13px;
  }
  main .Experience-Wrapper .Experience-content {
    padding: 1.5rem 1.5rem 0.5rem;
  }
  main .Experience-Wrapper .Experience-content .owl-nav button {
    width: 40px;
    height: 40px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn h3,
  main .projects_Wrapper .project_itemCmn .project2 .Left-item h3 {
    font-size: 28px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item .Group-btn a {
    font-size: 14px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  main .Experience-Wrapper .Experience-content .about-text {
    padding: 1rem 0;
  }
  main .Experience-Wrapper .Experience-content .about-text p {
    font-size: 14px;
  }
  main .Experience-Wrapper .Experience-content .owl-dots {
    display: none;
  }
  main .Experience-Wrapper .Experience-content {
    padding: 1.3rem;
  }
  main .Experience-Wrapper .Experience-content .owl-nav button {
    width: 35px;
    height: 35px;
  }
  main .skill_Wrapper .Skill_heading h2 {
    font-size: 1.5em;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn {
    padding: 1.5rem;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn h3,
  main .projects_Wrapper .project_itemCmn .project2 .Left-item h3 {
    font-size: 24px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item .Group-btn {
    // grid-template-columns: repeat(2, max-content);
    grid: 0.5rem 1rem;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Right-item figure img {
    max-width: 100%;
  }
  main .skill_Wrapper .skill_Content figure img {
    max-width: 60%;
  }
  main .About_Wrapper .About_content .About-left h2 {
    font-size: 24px;
  }
  main .About_Wrapper .About_content .About-left p {
    font-size: 14px;
    line-height: 1.8;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .SubChild {
    flex-direction: column-reverse;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item,
  main .projects_Wrapper .project_itemCmn .project-cmn .Right-item {
    width: 100%;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Right-item {
    text-align: center;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item {
    padding: 1rem 0 0;
  }
  .project_item1 .btn1,
  .project_item1 .btn3,
  .btn3 {
    display: none;
  }
  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-left,
  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-right {
    width: 100%;
  }
  main .Blog_Wrapper {
    .ellipse1,
    .ellipse2 {
      display: none;
    }
  }
  main .Blog_Wrapper .owl-nav .owl-prev,
  main .Blog_Wrapper .owl-nav .owl-next {
    position: absolute;
    left: 80%;
    top: inherit;
    bottom: 20px;
  }
  main .Blog_Wrapper .owl-nav .owl-next {
    right: 35px !important;
    left: inherit !important;
  }
  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-right .read_btn a {
    font-weight: 600;
  }
  .About_Wrapper {
    .About-heading2 {
      display: none;
    }
    .About-heading1 {
      display: block !important;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      padding-bottom: 1.5rem;
      br {
        display: none;
      }
    }
    .About_content {
      flex-direction: column-reverse;
      .About-left,
      .About-right {
        width: 100% !important;
      }
    }
  }
  main footer .footer-content .copy-right .cpy2,
  .copy-right .cpy1 {
    width: 100%;
  }
  main footer .footer-content .copy-right .cpy1 a {
    padding: 0.4rem 1rem;
    font-size: 12px;
  }
  main footer .footer-content .Social_media {
    grid-template-columns: repeat(3, 1fr);
    li a {
      font-size: 14px;
    }
  }
  main .About_Wrapper .About_content .About-left .ReadMore {
    font-size: 14px;
    padding: 0.4rem 1rem;
    margin: 1rem 0 0;
  }
}

@media only screen and (max-width: 480px) {
  main header {
    box-shadow: 0px 0px 8px #00000006;
  }
  main .Banner_Wrapper {
    .ellipse1,
    .ellipse2 {
      width: 235px;
      height: 190px;
    }
  }
  main .Banner_Wrapper .Banner_content .banner_img figure img {
    max-width: 100%;
  }
  main .Banner_Wrapper .Banner_content .banner-text img {
    display: none;
  }
  main .Banner_Wrapper .Banner_content .banner_img figure {
    width: 70%;
  }
  main .Experience-Wrapper {
    padding: 1rem 0;
  }
  main .Experience-Wrapper .Experience-content .experience_heading figure img {
    max-width: 100%;
  }
  main .Experience-Wrapper .Experience-content .experience_heading {
    grid-template-columns: 40px max-content;
    grid-gap: 0.8rem;
  }
  main
    .Experience-Wrapper
    .Experience-content
    .experience_heading
    figcaption
    h3 {
    font-size: 16px;
  }
  main
    .Experience-Wrapper
    .Experience-content
    .experience_heading
    figcaption
    span {
    font-size: 12px;
  }
  main .skill_Wrapper {
    .ellipse1,
    .ellipse2 {
      width: 193px;
      height: 190px;
    }
  }

  main .skill_Wrapper .skill_Content figure img {
    max-width: 80%;
  }
  main .skill_Wrapper .Skill_heading h2 {
    font-size: 1.5em;
    padding-bottom: 1rem;
  }

  main .projects_Wrapper .project_itemCmn .project-cmn h3,
  main .projects_Wrapper .project_itemCmn .project2 .Left-item h3 {
    font-size: 20px;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn span {
    font-size: 10px;
    padding: 0.1rem 0;
  }

  main .Blog_Wrapper {
    padding: 1rem 0 2rem;
  }

  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-right p {
    font-size: 14px;
  }

  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-right h4 {
    padding: 0.4rem 0;
    font-size: 13px;
  }
  main .Blog_Wrapper .owl-nav .owl-prev,
  main .Blog_Wrapper .owl-nav .owl-next,
  main .Blog_Wrapper .owl-nav .owl-next {
    bottom: 10px;
  }

  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .blog-right h3 {
    font-size: 1.3em;
    padding: 1.3rem 0 0;
  }
  main .Blog_Wrapper .Blog-items-wrp .Blog-Power .Sub_Blog {
    padding: 0.5rem;
  }

  main .Blog_Wrapper .Blog-items-wrp {
    padding: 0.5rem;
  }

  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item p {
    font-size: 14px;
    padding: 0.5rem 0 0;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item .Group-btn {
    padding: 1rem 0 0;
  }
  main .projects_Wrapper .project_itemCmn .project-cmn .Left-item .Group-btn a {
    font-size: 13px;
  }
  main .Blog_Wrapper .Blog-items-wrp {
    width: 100%;
  }
  main .About_Wrapper .About_content .about-right figure img {
    max-width: 100%;
  }
  .About_Wrapper .About-heading1 {
    font-size: 1.2em;
  }
  main .About_Wrapper .About_content .About-left p {
    font-size: 13px;
  }
  main footer .footer-content .copy-right .cpy1 {
    grid-template-columns: max-content;
  }
  main footer .footer-content .copy-right .cpy1 a {
    width: 140px;
    text-align: center;
    margin: 0.5rem 0;
  }

  main footer .footer-content .Social_media {
    grid-template-columns: repeat(2, 1fr);
    li {
      span {
        width: max-content;
      }
      &:nth-child(even) a {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
      }
    }
  }
  main footer {
    padding: 1rem 0 2rem;
  }
  main .About_Wrapper .About_content .about-right {
    width: 60%;
  }
}

@media only screen and (max-width: 375px) {
  .main-bar {
    right: 20px;
    top: 19px;
    div {
      width: 33px;
      height: 3px;
      margin: 5px 0;
    }
  }
  .Nav_Wrapper .Nav_items li {
    padding: 0.5rem 0;
    font-size: 14px;
  }

  main
    .Experience-Wrapper
    .Experience-content
    .experience_heading
    figcaption
    h3 {
    font-size: 15px;
  }
  main .Experience-Wrapper .Experience-content .about-text p {
    font-size: 13px;
    line-height: 1.7;
  }
  main footer .footer-content .Social_media li a {
    font-size: 13px;
  }
  main .projects_Wrapper {
    padding: 1rem 0;
  }
  main .Blog_Wrapper .owl-nav .owl-prev,
  main .Blog_Wrapper .owl-nav .owl-next,
  main .Blog_Wrapper .owl-nav .owl-next {
    left: 74%;
  }
  main footer .footer-content .copy-right .cpy1 p {
    font-size: 12px;
    word-break: break-all;
  }
  main footer .footer-content .Social_media li a {
    font-size: 13px;
  }
  main .About_Wrapper .About_content .about-right {
    width: 70%;
  }
}
