@font-face {
  font-family: "Inter";
  src: url("Inter-Black.eot");
  src: url("Inter-Black.eot?#iefix") format("embedded-opentype"),
    url("Inter-Black.woff2") format("woff2"),
    url("Inter-Black.woff") format("woff"),
    url("Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.eot");
  src: url("Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("Inter-Medium.woff2") format("woff2"),
    url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Italic.eot");
  src: url("Inter-Italic.eot?#iefix") format("embedded-opentype"),
    url("Inter-Italic.woff2") format("woff2"),
    url("Inter-Italic.woff") format("woff"),
    url("Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "InterRegular";
  src: url("Inter-Regular.eot");
  src: url("Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterRegular";
  src: url("Inter-Regular.eot");
  src: url("Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("PlayfairDisplay-Regular.eot");
  src: url("PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("PlayfairDisplay-Regular.woff2") format("woff2"),
    url("PlayfairDisplay-Regular.woff") format("woff"),
    url("PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Italic";
  src: url("EBGaramond-Italic.eot");
  src: url("EBGaramond-Italic.eot?#iefix") format("embedded-opentype"),
    url("EBGaramond-Italic.woff2") format("woff2"),
    url("EBGaramond-Italic.woff") format("woff"),
    url("EBGaramond-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Regular";
  src: url("EBGaramond-Regular.eot");
  src: url("EBGaramond-Regular.eot?#iefix") format("embedded-opentype"),
    url("EBGaramond-Regular.woff2") format("woff2"),
    url("EBGaramond-Regular.woff") format("woff"),
    url("EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AndadaSC";
  src: url("AndadaSC-Regular.eot");
  src: url("AndadaSC-Regular.eot?#iefix") format("embedded-opentype"),
    url("AndadaSC-Regular.woff2") format("woff2"),
    url("AndadaSC-Regular.woff") format("woff"),
    url("AndadaSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
